@model IEnumerable<WebRegistry.Models.ExternalComponent>

@{
    ViewData["Title"] = "Покупные изделия";
}

<h1>Покупные изделия</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shifr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IzdelieNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shifr)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @foreach (var izd in item.IzdelieNavigation)
                {
                   <a asp-controller="Izdelies" asp-action="Details" asp-route-id="@izd.IzdelieId">
                            | @Html.DisplayFor(modelItem => izd.IzdelieIdNavigation.Shifr)
                </a>
                }
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.idExternalComponents">Подробности</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.idExternalComponents">Редактировать</a>
                 
                        <a asp-action="Delete" asp-route-id="@item.idExternalComponents">Удалить</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
